body {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 15px;
  box-sizing: border-box;
}

.toolbar {
  border: 1px solid black;
  background: lightblue;
}


.mainContent {
  border: 1px solid black;
  background: lightgreen;
  margin-top: 15px;
}